
@{
    ViewBag.Title = "Output";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Mã nhân Viên: @ViewBag.manv</p>
<p>Họ tên: @ViewBag.hoten</p>
<p>Địa chỉ: @ViewBag.diachi</p>
<p>ngày làm: @ViewBag.songaylam</p>
<p>Lương ngày: @ViewBag.luongngay</p>
<p>Tiền lương: @ViewBag.tienluong</p>